mat-card {
    width: 50%;
    margin-top: 2%;
    left: 25%;
    right: 25%;
    button {
      width: 100%;
      text-align: center;
    }
    .form {
      margin-top: 3%;
      //display: flex;
      text-align: center;
  
      mat-form-field {
        width: 100%;
        margin-top: 5%;
        text-align: center;
      }
    }
  
    h1 {
      font-size: 20px;
      position: flex;
      text-align: center;
    }
  }
  