<div class="admin-layout">
  <header>
    <app-admin-header></app-admin-header>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-admin-footer></app-admin-footer>
  </footer>
</div>
