<mat-card>
    <h1>Créer un compte</h1>
    <form class="form">
      <mat-form-field>
        <mat-label>Pseudonyme</mat-label>
        <input matInput placeholder="Flo0975" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input color="primary" matInput type="password" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Confirmer mot de passe</mat-label>
        <input color="primary" matInput type="password" />
      </mat-form-field>
    </form>
  
    <div class="btn">
      <button mat-button color="primary">Envoyer</button>
      <hr>
      <button mat-button color="primary" >Se connecter</button>
    </div>
  </mat-card>
  