<div class="guest-layout">
  <header>
    <app-guest-header></app-guest-header>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-guest-footer></app-guest-footer>
  </footer>
</div>
