// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #efefef,
  100: #d6d7d8,
  200: #bbbcbe,
  300: #a0a1a3,
  400: #8b8c90,
  500: #77787c,
  600: #6f7074,
  700: #646569,
  800: #5a5b5f,
  900: #47484c,
  A100: #b5c2f9,
  A200: #869cf5,
  A400: #486dff,
  A700: #2f58ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-secondary: (
  50: #f4f4f9,
  100: #e4e4ef,
  200: #d2d3e4,
  300: #c0c1d9,
  400: #b3b3d1,
  500: #a5a6c9,
  600: #9d9ec3,
  700: #9395bc,
  800: #8a8bb5,
  900: #797ba9,
  A100: #ffffff,
  A200: #f9faff,
  A400: #c7c9ff,
  A700: #adb0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-warning: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$plop-primary: mat-palette($md-primary);
$plop-accent: mat-palette($md-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$plop-warn: mat-palette($md-warning);

// Create the theme object (a Sass map containing all of the palettes).
$plop-theme: mat-light-theme($plop-primary, $plop-accent, $plop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($plop-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
