<div class="user-layout">
    <header>
      <app-user-header></app-user-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-user-footer></app-user-footer>
    </footer>
  </div>
  